{% extends 'base.html' %}
{% block title %}
    List of type:
{% endblock %}
{% block content %}
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th> The type's name</th>
            <th class="pull-right"> Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td> {{ type.type }}</td>
                <td>
                    <a href="{% url 'update_type' type.id %}" class="btn btn-warning"> Edit</a>
                    <a href="{% url 'delete_type' type.id %}" class="btn btn-primary"> Delete </a>
                    <a href="{% url 'detail_type' type.id %}" class="btn btn-danger"> Details </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'new_type' %} " class="btn btn-primary"> Add new type </a>
{% endblock %}