
{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    {% for product in all_products_per_brand %}
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <div class="card">
                        <h4 class="card-header" style="background-color: #2b8df5">{{ product.name_of_product }}  </h4>
                        <div class="card" style="width: 15rem;">
                            <span class="border border-5">
                            <img src={{ product.image }}
                                         class="card-img-top" alt="img" height="200">
                                </span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <hr>
                        <h4 class="card-title">Technical problems and Troubleshooting </h4>
                        <p class="card-text">To make sure that this content applies to the device for which you need
                            information, select your product.</p>
                        <div class="shadow p-3 mb-5 bg-body rounded">
                            <a href="{% url 'type' product.id %}" class="btn btn-primary">Select model</a>
                        </div>
                        <br>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        {#        <div class="card">#}
        {#            <h5 class="card-header">{{ product.name_of_product }}</h5>#}
        {#            <div class="card-body">#}
        {##}
        {#                <h5 class="card-title">Special title treatment</h5>#}
        {#                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
        {#                <a href="{% url 'info' product.id %}" class="btn btn-primary">View info</a>#}
        {#            </div>#}
        {#        </div>#}
        {#        <div class="container">#}
        {#            <div class="row align-items-start">#}
        {#                <div class="col">#}
        {#                    <div class="card" style="width: 18rem;">#}
        {#                        <img src="https://previews.123rf.com/images/mariiasimakova/mariiasimakova2005/mariiasimakova200500022/#}
        {#            146182634-troubleshooting-icon-from-customer-service-collection-simple-line-element-troubleshooting#}
        {#            -symbol-for.jpg" alt="img" height="150" width="150">#}
        {#                        <div class="card-body">#}
        {#                            <h2 class="card-header">{{ product.name_of_product }} </h2>#}
        {#                            <p class="card-text">Some quick example text to build on the card title and make up the bulk#}
        {#                                of#}
        {#                                the#}
        {#                                card's content.</p>#}
        {#                        </div>#}
        {#                        <a href="{% url 'info' product.id %}" class="btn btn-primary">View info</a>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    {% endfor %}
{% endblock %}