{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    {% for type in all_products_per_type %}
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header" style="background-color: #2b8df5">{{ type.type }}</h5>
                        <div class="card" style="width: 15rem;">
                        <span class="border border-5">
                        <img src={{ type.image }}
                                     class="card-img-top" alt="img" height="200">
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <hr>
                        <h4 class="card-title">Technical problems and Troubleshooting</h4>
                        <p class="card-text">Get help, find answers and try to explore your device</p>
                        <a href="{% url 'info' type.id %}" class="btn btn-primary">Get started</a>
                        <br>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}