{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <div class="text-center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-xs btn-success">Login</button>
            <a href="{% url 'password_reset' %}" class="btn btn-xs btn-secondary">Reset Password</a>
        </form>
    </div>
{% endblock %}