{% extends 'base.html' %}
{% block title %}
    Reset Password
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Reset</button>
    </form>
{% endblock %}