{% extends 'base.html' %}
{% block title %}
    List of manufacturer:
{% endblock %}
{% block content %}
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th> The manufacturer's name</th>
            <th> Category</th>
            <th> Troubleshooting</th>
            <th> The manufacturer's contacts</th>
            <th> The manufacturer's email</th>
            <th class="pull-right"> Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td> {{ brand.name }}</td>
                <td> {{ brand.category }}</td>
                <td> {{ brand.troubleshooting }}</td>
                <td> {{ brand.contacts_manufacturer }}</td>
                <td> {{ brand.email_manufacturer }}</td>
                {#                <td><img src="{% static brand.image %}" alt="Image" style="width: px; height: px;" ></td>#}
                <td>
                    <a href="{% url 'update' brand.id %}" class="btn btn-warning"> Edit</a>
                    <a href="{% url 'delete' brand.id %}" class="btn btn-primary"> Delete </a>
                    <a href="{% url 'detail' brand.id %}" class="btn btn-danger"> Details </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'new_brand' %} " class="btn btn-primary"> Add new brand </a>
{% endblock %}






