{% extends 'base.html' %}
{% block title %}
    List  information:
{% endblock %}
{% block content %}
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th> Model</th>
            <th> Troubleshooting</th>
            <th class="pull-right"> Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for info in informations %}
            <tr>
                <td> {{ info.model }}</td>
                <td> {{ info.info_text }}</td>
                <td>
                    <a href="{% url 'update_information' info.id %}" class="btn btn-warning"> Edit</a>
                    <a href="{% url 'delete_information' info.id %}" class="btn btn-primary"> Delete </a>
                    <a href="{% url 'detail_information' info.id %}" class="btn btn-danger"> Details </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'new_information' %} " class="btn btn-primary"> Add new product </a>
{% endblock %}