{% extends 'base.html' %}
{% block title %}
    Ticket
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Send</button>
                <a href="{% url 'home' %}" class="btn btn-warning">Cancel and go to home</a>
            </form>
        </div>
    </div>
{% endblock %}