{% extends 'base.html' %}
{% block title %}
    Delete the ticket:
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h1>Do you want to delete this ticket {{ delete_ticket }}</h1>
        <a href="{% url 'list_ticket' %}">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}