{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container-sm">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href={% url 'home' %}>Troubleshooting</a>
            <img src="https://www.freeiconspng.com/uploads/network-service-icon-world-14.png" width="50" height="50">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            All brands
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            {% for brand in all_brands %}
                                <li><a class="dropdown-item" href="{% url 'products' brand.id %}">{{ brand.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Questions
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'create_ticket' %}">Click here</a>
                            </li>
                        </ul>
                </ul>
                {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-light" href="{% url 'logout' %}">
                            Logout, {{ request.user.username }}</a>
                    </li>
                {% else %}
                    <span style="padding-right:20px">
                        <a class="btn btn-secondary" href="{% url 'add_user' %}"> Create account </a>
                            </span>
                    <span>
                        <a class="btn btn-primary" href="{% url 'login' %}"> Login </a>
                            </span>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">
</script>
</body>
</html>