{% extends 'base.html' %}
{% block title %}
    Create User
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Create</button>
        <a href="{% url 'home' %}" class="btn btn-info">Go to Home</a>
    </form>
{% endblock %}